.idea
.DS_Store
.phptidy-cache
job.sh
job_original.sh
wp-phptidy.php
/account_cleanup/config.json
/account_cleanup/vendor/
/vendor/
/rules/
/tests-wordpress
/tests-wordpress-config
.phpcs.xml
phpcs.xml
composer.lock
