includes:
  - vendor/phpstan/phpstan-strict-rules/rules.neon
  - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
  level: max

  paths:
    - src

  bootstrapFiles:
    - %rootDir%/../../squizlabs/php_codesniffer/autoload.php

  excludePaths:
    - src/Http

  reportUnmatchedIgnoredErrors: false
