includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: max

    paths:
        - src
        - wpAuth0.php

    ignoreErrors:
        - '#Constructor of class (.*) has an unused parameter (.*).#'
        - '#Method (.*) has parameter (.*) with no value type specified in iterable type array.#'
        - '#no value type specified in iterable type array.#'

    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: false
