<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="true"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<filter>
		<whitelist>
			<directory suffix=".php">./lib</directory>
			<file>./WP_Auth0.php</file>
			<exclude>
				<directory>./lib/dashboard-widgets</directory>
				<directory>./lib/php-jwt</directory>
				<directory>./lib/twitter-api-php</directory>
			</exclude>
		</whitelist>
	</filter>
	<testsuites>
		<testsuite>
			<directory prefix="test" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<php>
		<ini name="display_errors" value="On" />
		<ini name="display_startup_errors" value="On" />
	</php>
</phpunit>
