.c3 text {
    text-transform: capitalize;
}
.auth0Note {
    text-align: center;
    font-size: 10px;
    font-style: italic;
    display: inline-block;
    width: 100%;
}

#auth0ChartIncome .axis path {
	fill:none;
	stroke-width:1px;
	stroke:#CACACA;
}
#auth0ChartIncome .column-line {
	stroke: #CACACA;
	stroke-width:1;
}
#auth0ChartIncome .tick.selected,
#auth0ChartIncome .bar.selected,
#auth0ChartIncome .label.selected {
	fill:red;
}
#auth0ChartIncome .tick.hover,
#auth0ChartIncome .bar.hover,
#auth0ChartIncome .label.hover {
	fill:green;
}

/*------------------------------------------------------------------------------*/

/*
#auth0ChartIncome div#tooltip {
	position: absolute;
	font-size:11px;

	top:0;
	bottom:0;
	z-index:9;
	font-size: 11px;
	color:#333;
	display: none;
}
#auth0ChartIncome div#tooltip div {
	width: 180px;
	background: rgba(0,0,0,0.8);
	padding:5px;
	color:#fff;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#auth0ChartIncome div#tooltip.visible {
	display: block;
}
#auth0ChartIncome div#tooltip h4 {
	margin: 2px;
	font-weight: 400;
	text-transform: uppercase;
}
#auth0ChartIncome svg {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin:0 auto;
	display: block;
}
#auth0ChartIncome svg #columns line {
	shape-rendering: crispEdges;
	stroke:#666;
	stroke-width:1;
	fill:none;
}
#auth0ChartIncome svg #languages circle {
	stroke:none;
	fill:#333;
}
#auth0ChartIncome svg #languages path {
	stroke:rgb(31, 119, 180);
	stroke-opacity:0.2;
	stroke-width:1;
	fill:none;
}

#auth0ChartIncome svg #languages text {
	fill:#000;
	font-size: 12px;
	text-anchor: end;

}
#auth0ChartIncome svg #languages g .lang-label {
	cursor: pointer;
}

#auth0ChartIncome svg #languages g.hover .lang-label text,
#auth0ChartIncome svg #languages g.highlight .lang-label text,
#auth0ChartIncome svg #languages g.year .lang-label text {
	fill-opacity:1;
	fill:#fff;
}
#auth0ChartIncome svg #languages .lang-label rect {
	fill:rgb(31, 119, 180);
	fill-opacity:0;
}
#auth0ChartIncome svg #languages g.hover .lang-label rect,
#auth0ChartIncome svg #languages g.year .lang-label rect {
	fill-opacity:1;
}
#auth0ChartIncome svg #languages g.highlight .lang-label rect {
	fill-opacity:1;
	fill:#333;
}
#auth0ChartIncome svg #languages g.hover .lang-label rect.hover {
	fill-opacity:0;
}
#auth0ChartIncome svg #labels .label text {

	fill-opacity:0;
	text-anchor:middle;
	font-weight: normal;
	fill:#333;
}
#auth0ChartIncome svg #labels .label rect.ix {
	fill:#000;
	fill-opacity:0;
	cursor: pointer;
}
#auth0ChartIncome svg #labels g.label path.label {
	fill:#fff;
	stroke:rgb(31, 119, 180);
	fill-opacity:0.8;
	stroke-opacity:0.8;
	display: none;
}

#auth0ChartIncome svg #labels g.hover .label path.label,
#auth0ChartIncome svg #labels g.hover .label text {
	font-size:12px;
	display: block;
	fill-opacity:1;
}
#auth0ChartIncome svg #labels g.hover .label path.label {
	fill-opacity:0.8;
}
#auth0ChartIncome svg #labels g.hover.year .label path.label,
#auth0ChartIncome svg #labels g.hover.year .label text {
	display: none;
	fill-opacity:0;
}

#auth0ChartIncome svg #labels g.hover.year .label:last-child text {
	display: block;
	fill-opacity:1;
}
#auth0ChartIncome svg #labels g.hover.year .label.year text {
	display: block;
	fill-opacity:1;
}
#auth0ChartIncome svg #languages g.highlight g.connection path,
#auth0ChartIncome svg #languages g.highlight g.connection.year path,
#auth0ChartIncome svg #languages g.hover g.connection path,
#auth0ChartIncome svg #languages g.year g.connection path {
	stroke:rgb(31, 119, 180);
	stroke-opacity:0.8;
	stroke-width:3;
}
#auth0ChartIncome svg #languages g.highlight g.connection path,
#auth0ChartIncome svg #languages g.highlight g.connection.year path,
#auth0ChartIncome svg #labels g.highlight g.label path.label {
	stroke:#333;
}
#auth0ChartIncome svg #languages .connection path.hover {
	stroke-opacity:0;
	stroke-width:10;
}

#auth0ChartIncome svg #languages .marker circle {
	fill:#333;
	fill-opacity:1;
}
#auth0ChartIncome svg #languages .marker circle.hover {
	fill:rgb(31, 119, 180);
	fill-opacity:0.2;
}
#auth0ChartIncome svg #languages .marker.ordinal circle {
	fill-opacity:0;
}
#auth0ChartIncome svg #languages .marker text {
	text-anchor:middle;
	font-size:10px;
	fill:#333;
}
#auth0ChartIncome svg #languages .marker line {
	stroke-width:4;
	stroke:#333;
	stroke-opacity:0;
}
#auth0ChartIncome svg #languages .marker rect {
	shape-rendering: crispEdges;
	stroke-width:1;
	stroke:rgb(31, 119, 180);
	stroke-opacity:0;
	fill-opacity:0;
}
#auth0ChartIncome svg #languages .marker.ordinal line {
	stroke-opacity:1;
}
#auth0ChartIncome svg #languages .marker.ordinal rect {
	stroke-opacity:0.5;
	fill-opacity:1;
}
#auth0ChartIncome svg #languages g.hover .marker rect,
#auth0ChartIncome svg #languages g.year .marker rect {
	stroke-width:1;
	stroke-opacity:1;
}
#auth0ChartIncome svg #languages g.highlight .marker rect {
	stroke:#333;
	stroke-opacity:1;
}
#auth0ChartIncome svg .column text.title {
	text-anchor:middle;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 400;
	cursor: help;
}
#auth0ChartIncome svg .column text.title.first {
	text-anchor:end;
}
#auth0ChartIncome svg #columns g.axis {

}
#auth0ChartIncome svg #columns g.axis line {
	shape-rendering: crispEdges;
	stroke:#777;
	stroke-width:1;
}
#auth0ChartIncome svg #columns g.axis g.tick text {
	font-size: 10px;
	fill:#777;
	text-anchor:middle;
}
#auth0ChartIncome svg #columns g.axis g.tick.start text {
	text-anchor:start;
}
#auth0ChartIncome svg #columns g.axis g.tick.end text {
	text-anchor:end;
}
*/
