#wpwrap {
  background-color: #fff;
}
.a0-button {
  border-radius: 3px;
  border: none;
  line-height: 45px;
  min-width: 150px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  display: inline-block;
  text-align: center;
}
.a0-button.primary {
  color: #fff;
  background-color: #e63c11;
}
.a0-button.primary:hover {
  color: #fff;
}
.a0-button.secondary {
  font-weight: bold;
  color: #2483ae;
  background-color: transparent;
  text-decoration: underline;
}
.a0-button.secondary:hover {
  color: #2483ae;
}
.a0-message {
  padding: 30px 30px 30px 85px;
}
.a0-message.a0-notice {
  background-color: #d0e8f4;
  color: #32759a;
}
