#extra-options {
    width: 272px;
    margin: 15px auto;
    padding: 0px 24px;
}
#extra-options a {
    text-decoration: none;
    color: #999;
}
#extra-options a:hover {
    color: #2ea2cc;
}
body.a0-widget-open>* {
    display: inherit;
}
#a0-widget .a0-panel{
    margin: auto;
}
#auth0-login-form {
    width: 300px;
    margin: 0 auto 15px;
}
#auth0-login-form {
    min-height: 250px;
}
.auth0-login{
    margin-bottom: 20px;
}
.login form.auth0-lock-widget {
    padding:0;
    overflow: visible;
}

.login form.auth0-lock-widget input[type=text],
.login form.auth0-lock-widget input[type=search],
.login form.auth0-lock-widget input[type=radio],
.login form.auth0-lock-widget input[type=tel],
.login form.auth0-lock-widget input[type=time],
.login form.auth0-lock-widget input[type=url],
.login form.auth0-lock-widget input[type=week],
.login form.auth0-lock-widget input[type=password],
.login form.auth0-lock-widget input[type=checkbox],
.login form.auth0-lock-widget input[type=color],
.login form.auth0-lock-widget input[type=date],
.login form.auth0-lock-widget input[type=datetime],
.login form.auth0-lock-widget input[type=datetime-local],
.login form.auth0-lock-widget input[type=email],
.login form.auth0-lock-widget input[type=month],
.login form.auth0-lock-widget input[type=number],
.login form.auth0-lock-widget select,
.login form.auth0-lock-widget textarea {
    margin: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.auth0-lock.auth0-lock.auth0-lock-opened-in-frame .auth0-lock-badge-bottom svg #Lock{
    fill-opacity: 0.4;
    fill: #bbb;
}

#registerform,
#loginform,
#login #nav,
.woocommerce-checkout .woocommerce-info,
.woocommerce-account .woocommerce h2,
.woocommerce-account .woocommerce form.login {
    display: none;
}

.a0-show-core-login #registerform,
.a0-show-core-login #loginform,
.a0-show-core-login #login #nav,
.a0-show-core-login.woocommerce-checkout .woocommerce-info,
.a0-show-core-login.woocommerce-account .woocommerce h2,
.a0-show-core-login.woocommerce-account .woocommerce form.login {
    display: block;
}

.woocommerce-checkout .woocommerce-info ~ .woocommerce-info {
    display: block;
}

.woocommerce-account #extra-options {
    padding:0;
}
