.a0-footer {
    display: none;
}
#a0-widget .a0-zocial.a0-wp-login {
    background-color: #490050;
}
#wp-login-form-wrapper {
    display: none;
}
.auth0-login .form-signin-heading {
    margin-bottom: 10px;
}
.a0-message{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #FFF;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
    z-index: 999;
}

.a0-message small {
    font-weight: normal;
    cursor: pointer;
}