.a0-footer {
  display: none;
}
#a0-widget .a0-zocial.a0-wp-login {
  background-color: #490050;
}
#wp-login-form-wrapper {
  display: none;
}
.auth0-login .form-signin-heading {
  margin-bottom: 10px;
}
