input[type=text] {
    width: 70%;
}

textarea {
    width: 70%;
    height: 100px;
}

.a0-table {
    border-spacing: 0;
    margin-top: 20px;
}

.a0-table tr td,
.a0-table tr th{
    padding: 8px 10px;
    margin:0;
}

.a0-table tr th {
    border-bottom: 2px solid #999;
}

.a0-table tr:nth-child(2n+1) {
    background: #f9f9f9;
}

.a0-table tr td.message
{
    padding: 25px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

.text-alone {
    margin: 10px;
}

h3 {
    background: #FAFAFA;
    padding: 10px;
    cursor: pointer;
    position: relative;
    padding-left: 50px;
    line-height: 20px;
    margin-bottom: 0;
    overflow: hidden;
}
h3 .title {
    display: inline-block;
}
h3 .description {
    float:right;
    font-size:12px;
    font-style: italic;
    font-weight: normal;
    padding-left: 1%;
    width: 79%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    line-height: 20px;
    text-align: right;
}
@media screen and (max-width: 550px) {
    h3 .description {
      width: 69%;
    }
}
@media screen and (max-width: 400px) {
    h3 .description {
      width: 60%;
    }
}

h3 .icon {
    display: inline-block;
    top:0;
    left:0;
    background: #0073aa;
    color:#FFFFFF;
    position: absolute;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 19px;
}

.form-table {
    margin-top: 0;
    background: #FFFFFF;
}
.form-table th {
  padding-left: 20px;
}

#wpa0_fullcontact_key {
    width:300px;
    margin-top:10px;
    margin-bottom:10px;
}
#wpa0_fullcontact_key_label {
    margin-right: 10px;
    margin-top:10px;
    margin-bottom:10px;
}
.hidden {
    display: none;
}

.social label {
    width: 70px;
    display: inline-block;
}
