input[type=text] {
    width: 70%;
}

textarea {
    width: 70%;
    height: 100px;
}

.a0-table {
    border-spacing: 0;
    margin-top: 20px;
}

.a0-table tr td,
.a0-table tr th{
    padding: 8px 10px;
    margin:0;
}

.a0-table tr th {
    border-bottom: 2px solid #999;
}

.a0-table tr:nth-child(2n+1) {
    background: #f9f9f9;
}

.a0-table tr td.message
{
    padding: 25px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

.text-alone {
    margin: 10px;
}

h3 {
    background: #FAFAFA;
    padding: 10px;
    cursor: pointer;
}

.form-table th {
  padding-left: 10px;
}
