bgColor = #FFFFFF;

noticeBG = #D0E8F4;
noticeText = #32759A;

/* Buttons */
buttonPrimaryText = #FFFFFF;
buttonSecondaryText = #32759A;

buttonPrimaryBG = #eb5424;
buttonSecondaryBG = transparent;

activeStepBG = #eb5424;
stepText = #FFFFFF;
stepBG = #DCDFE1;
stepDescriptionText = #575C60;
