bgColor = #FFFFFF;

noticeBG = #D0E8F4;
noticeText = #32759A;

text = #4A535C;
softText = #9DA1A9;

buttonPrimaryText = #FFFFFF;
buttonSecondaryText = #32759A;

buttonPrimaryBG = #eb5424;
buttonSecondaryBG = transparent;

activeStepBG = #eb5424;
stepText = #FFFFFF;
stepBG = #DCDFE1;
stepDescriptionText = #575C60;

profileBG = #F2F5F8;