bgColor = #FFFFFF;

noticeBG = #D0E8F4;
noticeText = #32759A;
tipBG = #E4E6E8;

aText=rgb(0,148,193);

text = rgba(0,0,0,.86);
softText = rgba(0,0,0,0.36);
formFieldsText = rgba(0,0,0,.86)

buttonPrimaryText = #FFFFFF;
buttonSecondaryText = #32759A;

buttonPrimaryBG = #eb5424;
buttonSecondaryBG = transparent;

activeStepBG = #eb5424;
stepText = #FFFFFF;
stepBG = #DCDFE1;
enterpriseBG = #f5f7f9;
stepDescriptionText = #575C60;

navbarText=#4a4a4a

profileBG = #F2F5F8;

settingsInputBorder=#CCCCCC
adminFormBorder=rgba(91,102,111,.54)
adminFormBG=#e5e5e5

loadingText=#A78E11
loadingBG=#F8EDB5

separatorBorder=rgba(0,0,0,0.05)