@import 'partials/_fonts';
@import 'partials/_colors';
@import 'partials/_logos';

#wpwrap {
  background-color: bgColor;
}
.a0-wrap {  
  font-family:'avenir roman';
  margin-left:-20px;

  color:text;
  h1,h2,p {
    color:text;
  }
  
  p {
    font-size: 17px;
    color:softText;
  }
  
  .a0-buttons {
    margin: 20px 0;
  }
  
  form {
    margin:0;
  }
}

.a0-header {
  text-align:center;
  border-bottom:1px solid #F2F5F8;
  img {
    height:55px;
    margin: 50px auto;
  }
}

.a0-button {

  border-radius: 3px;
  border: none;
  line-height: 45px;
  min-width: 150px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  display: inline-block;
  text-align: center;

  &.primary {
    color: buttonPrimaryText;
    background-color: buttonPrimaryBG;
    
    &:hover {
      color: buttonPrimaryText;
    }
  }
  
  &.secondary {
    font-weight:bold;
    color: buttonSecondaryText;
    background-color: buttonSecondaryBG;
    text-decoration: underline;
    
    &:hover {
      color: buttonSecondaryText;
    }
  }
}

.a0-steps {
  background-color:#F2F5F8;
  padding-top:120px;
  padding-bottom:120px;
  height: 0;

  .progress {
    border-top:4px solid stepBG;
    margin: auto;
    float: none;
  }
  
  .steps {
    position:relative;
    top:-27px;
    text-align: center;
    
    span {
      display:inline-block;
      width:50px;
      height:50px;
      border-radius:30px;
      line-height: 50px;
      text-align: center;
      background-color:stepBG;
      color:stepText;
      font-weight:bold;
      font-size:15px;
    }
    
    p {
      display:none;
      color:stepDescriptionText;
      font-weight:bold;
    }
    
    .active span{
      background-color:activeStepBG;
    }
    
    .active p{
      display:block;
    }

  }

}

.consent-disclaimer {
  .logo {
    width: 100px;
    margin: 20px 0;
  }
}

p.a0-message {
  padding: 30px 30px 30px 85px;
  font-size: 13px;
  border-radius: 3px;
  position:relative;

  &.a0-notice {
    background-color: noticeBG;
    color:noticeText;
  }
  
  &.a0-tip {
    background-color: tipBG;
  }
  
  img {
    position:absolute;
    left:20px;
    top:20px;
  }
}

.a0-profiles {
  .profile {
    background-color: profileBG;
    border-radius: 3px;
    padding:25px;
    text-align: center;
      
    img {
      width: 140px;
      height: 140px;
      border-radius:70px;
    }
  }
}

.modal-footer {
  text-align:center;
}

.connection {
  border: 1px #d0d2d3 solid;
  float:left;
  width:50%;
  
  img {
    width:100px;
  }
}